@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgba(1, 2, 5, 1);
    color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 6%;
  align-items: center;
  z-index: 9999;
  border-bottom: 1.2px solid #ab8244;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(1, 2, 5, 0.9);
  backdrop-filter: blur(5px);
}

.navbar-logo {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}

.navbar-logo span {
  color: #ab8244;
}
 
.navbar-nav a {
  display: inline-block;
  margin: 0 1.2rem;
  font-size: 1rem;
  color: #fff;
}

.navbar-nav a:hover {
  color: #ab8244;
}

.navbar-nav a::after {
  content: "";
  border-bottom: 0.1rem solid #ab8244;
  display: block;
  padding-bottom: 0.2rem;
  transform: scale(0);
  transition: 0.3s linear;
}

.navbar-nav a:hover::after {
  transform: scale(1);
}

.navbar-extra a {
  color: #fff;
  font-size: 1.3rem;
  margin: 0 0.6rem;
}

.navbar-extra a:hover {
  color: #ab8244;
}

#hamburger_nav {
  display: none;
}


/* hero section start */
.hero {
    display: flex;
    align-items: center;
    background-image: url('../img/kopiheader.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    position: relative;
}

.hero::after {
    position: absolute;
    content: '';
    display: block;
    background: linear-gradient(0deg, rgba(1,2,4,1) 6%, rgba(255, 255, 255, 0) 23%);
    height: 20%;
    bottom: 0;
    width: 100%;
}

.hero .content {
    padding: 1.6rem 7%;
    max-width: 45rem;
}

.hero .content h1 {
    font-size: 3.5rem;
    text-shadow: 1px 2px 4px rgba(1, 2, 5, 0.9);
}

.hero .content h1 span {
    color: #ab8244;
}

.hero .content p {
    font-size: 1.2rem;
    margin-top: .5rem;
    font-weight: 100;
    text-shadow: 1px 1px 2px rgba(1, 2, 5, 0.9);
    mix-blend-mode: lighten;
}

.hero .content .cta {
    margin-top: .8rem;
    display: inline-block;
    padding: .7rem 1rem;
    color: #fff;
    background: #ab8244;
    border-radius: .5rem;
    box-shadow: 1px 3px 1px rgba(1, 2, 5, 0.9);
}
/* hero section end */



/* about css start */
.about,
.menu,
.kontak {
    padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.kontak h2 {
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 3.5rem;
}

.about h2 span,
.menu h2 span,
.kontak h2 span {
    color: #ab8244;
}

.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 30rem;
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 23rem;
    padding: .3rem 1rem;
}

.about .row .content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.about .row .content p {
    margin-bottom: .9rem;
    line-height: 1.6;
    font-size: 1.1rem;
    font-weight: 100;
}
/* about css end */


/* menu css start */
.menu h2,
.kontak h2 {
    margin-bottom: 2rem;
}

.menu p,
.kontak p {
    max-width: 40rem;
    text-align: center;
    margin: auto;
    font-weight: 100;
}

.menu .row {
    margin-top: 5rem;
    justify-content: center;
    display: flex;
}

.menu .row .menu-card {
    text-align: center;
    padding: 2rem;
}


.menu .row .menu-card img {
    border-radius: 50%;
    width: 80%;
}

.menu .row .menu-card .menu-card-title {
    margin: 1rem auto 1.2rem ;
}

/* menu css end */


/* kontak css start */
.kontak .row {
    display: flex;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
}

.kontak .row .map {
    flex: 1 1 30rem;
    object-fit: cover;
    width: 100%;
}

.kontak .row form {
    flex:  1 1 30rem;
    padding: 5rem 2rem;
    text-align: center;
}

.kontak .row form .input-group {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    background: #1f1e1e;
    padding-left: 1.5rem;
    border: 1px solid #fff;
}

.kontak .row form .input-group i {
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.kontak .row .input-group input {
    width: 100%;
    padding: .9rem;
    font-size: 1.1rem;
    background: transparent;
    color: #fff;
}

.kontak .row .input-group input::placeholder {
    color: grey;
}

.kontak .row .btn {
    padding: .8rem 1.5rem;
    color: #fff;
    margin-top: 2rem;
    display: inline-block;
    background: #ab8244;
    cursor: pointer;
}
/* kontak css end */


/* footer */
footer {
    background: #ab8244;
    text-align: center;
    padding: 1rem 0 2rem;
    margin-top: 1.6rem;
}

footer .social {
    padding: 1rem 0;
}

footer .social a {
    color: #fff;
    margin:  1rem;
}

footer .social i {
    font-size: 1.5rem;
    border: 1.5px solid #fff;
    padding: .5rem;
    border-radius: 50%;
}

footer .social a:hover {
    color: #000;
}

footer .links {
    margin-bottom: 1.3rem ;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .links a:hover {
    color: #000;
}

footer .credit {
    font-size: .9rem
}

footer .credit a {
    color: #000;
    font-weight: 600;
}
 









/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 78%;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 63%;
  }

  #hamburger_nav {
    display: inline-block;
  }

  .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #fff;       
    width: 26rem;
    height: 100vh;
    transition: .4s;
  }

 .navbar-nav.active {
    right: 0;
  }

  .navbar-nav a {
    color: #000;
    display: block; 
    margin: 2rem;
    font-size: 1.5rem;
    padding: .6rem;
  }

  .navbar-nav a:hover {
    color: #ab8244;
  }

  .navbar-nav a::after {
    transform-origin: 0 0;
    border-bottom: 1.8px solid #ab8244;
  }

  .navbar-nav a:hover::after {
    transform: scale(.7);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 20rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
      margin-top: 1rem;
  }

  .about .row .content p {
    font-size: 1.1rem;
  }

  .menu .row {
    flex-wrap: wrap;
  }

  .kontak .row {
    flex-wrap: wrap;
  }

  .kontak .row .map {
    height: 20rem;
  }

  .kontak .row form {
    padding-top: .2rem ;
  }
}

/* mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 56%;
  }
}
